
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.alert{
  ul {
    margin-bottom: 0px;
  }
}
.layout-modal {
  background: white;
}

.color-red {
  color: red !important;
}

.container {
  background: white;
  padding-left: 25px;
  padding-right: 25px;
}
.layout-event {
  .title {
    font-weight: bold;
  }
  .content-header {
    margin-bottom: 1rem;
  }

  table.schedule-table {
    background: #e0e0e0;
    td, th {
      border: solid 2px white;
    }
    .schedule-time {
      background: #a5a5a5;
      color: white;
    }
    .schedule-desc {

    }
  }

  .footer {
    padding: 50px 25px 80px;
    color: white;
    font-size: 0.8rem;
    background: #444;
  }
}

.register-form {
  span.form-error {
    color: rgb(185, 74, 72);
    font-size:0.8em;
  }
}